<div class="profile-settings-container">
  <h2>Profile Settings</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="selectedOption">What do you want to change?</label>
      <select
        name="selectedOption"
        id="selectedOption"
        [(ngModel)]="selectedOption"
      >
        <option value="" disabled selected>Select an option</option>
        <option value="email">Email</option>
        <option value="password">Password</option>
        <option value="username">Username</option>
      </select>
    </div>
    <div class="form-group" *ngIf="selectedOption">
      <label for="newValue">New {{ selectedOption }}</label>
      <input
        type="{{ selectedOption === 'password' ? 'password' : 'text' }}"
        name="newValue"
        id="newValue"
        [(ngModel)]="newValue"
      />
    </div>
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input
        type="password"
        name="currentPassword"
        id="currentPassword"
        [(ngModel)]="currentPassword"
      />
    </div>

    <button type="submit">Save Changes</button>
    <p>
      forgot your password?<a routerLink="/forgot-password"> Reset it here</a>.
    </p>

    <p class="error-message">{{ errorMessage }}</p>
    <p class="success-message">{{ successMessage }}</p>
  </form>
</div>
