<nav class="navbar">
  <div class="navbar-brand">
      <a routerLink="/home">HireProgrammer</a>
  </div>
  <div class="navbar-toggle" (click)="toggleMenu()">☰</div>
  <ul class="navbar-links">
      <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/about" (click)="closeMenu()">About</a></li>
      <li><a routerLink="/services" (click)="closeMenu()">Services</a></li>
      <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
      @if(authService.isAuthenticated()){
          <li><a routerLink="/profile" (click)="closeMenu()">Profile</a></li>
          <li><a (click)="logout(); closeMenu()" id="logout">Logout</a></li>
      }
      @else if (!authService.isAuthenticated()) {
          <li><a routerLink="/login" (click)="closeMenu()">Login</a></li>
          <li><a routerLink="/register" (click)="closeMenu()">Register</a></li>
      }
  </ul>
</nav>